body {
  background-image: url('background.jpg');
  background-size: 100%;
  background-position: initial;

  
header {
  margin-top: 10vh;
  margin-bottom: 25px;
  }

h1 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: 50px;
  }

div {
  margin-bottom: 25px;
}







