body {
  background-image: url('background.jpg');
  background-size: 100%;
  background-position: initial;
}
  
header {
  color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: 50px;
  }

h4 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: 50px;
  }

div .container {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: 50px;
}








